.industries-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-family: Raleway, sans-serif;
  padding: 80px 20px;
  color: #ffffff;
}

.industries-stars-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: -1;
}

.industries-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -1.28px;
  margin: 0;
}

.industries-subtext {
  font-size: 16px;
  margin-top: 10px;
  opacity: 0.7;
}

.industries-list {
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  color: #B8B8B8;
}

.industry-item {
  padding: 12px 32px;
  border-radius: 12px;
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.15);
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: 0.35s ease;
}

.industry-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 0.6px;
  background: linear-gradient(135deg, #EA4D13, transparent 30%, transparent 60%, #9627C8);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;             
  transition: 0.4s ease;
  pointer-events: none;
}

.industry-item:hover {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  color: white;
}

.industry-item:hover::before {
  opacity: 1;
  
}

.industry-item:hover .top-orange-blur {
  opacity: 1;
  transform: translateY(0);
}

.industry-item:hover .bottom-purple-blur {
  opacity: 1;
  transform: translateY(0);
}

.top-orange-blur {
  position: absolute;
  top: 7px;
  left: -9px;
  rotate: 145deg;
  width: 36px;
  height: 4px;
  border-radius: 50%;
  background-color: #EA4D13;
  filter: blur(20px);
  opacity: 0;
}

.bottom-purple-blur {
  position: absolute;
  bottom: 7px;
  right: -9px;
  rotate: 125deg;
  width: 35px;
  height: 6px;
  border-radius: 50%;
  background-color: #9627C8;
  filter: blur(20px);
  opacity: 0;
}


